html, body {
	margin: 0px;
	height: 100%;
	font-family: 'Alfa Slab One', cursive;
}

.input-name {
	border: 2px solid #CCCCCC;
	width: 98%;
	height: 100%;
	font-size: 32px;
	text-align: center;
}

#input-name-container, #reset-button-container {
	z-index: 10;
	text-align: center;
	height: 9%;
}

.reset-button {
	width: 100%;
	height: 100%;
	background-color: green;
	color: white;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	font-size: 24px;
}

.reset-button:active {
	background-color: white;
	color: black;
}

#big-buzzer-button {
	position: absolute;
	background-color: red;
	width: 100%;
	height: 90%;
	z-index: 5;
	bottom: 0px;
	left: 0px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	font-size: 48px;
	color: #FFFFFF;
}

#big-buzzer-button:active {
	background-color: green;
}

#contestant-name-display {
	position: absolute;
	background-color: red;
	width: 100%;
	height: 90%;
	z-index: 5;
	bottom: 0px;
	left: 0px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	font-size: 48px;
	color: #FFFFFF;
}